@model ChatRoomsViewModel
@{
    ViewData["Title"] = "ChatRooms";
}
<h5>Welcome <label class="userName">@Model.Username</label></h5>
<div class="col-12 row chatRoom">
    <div class="col-9 border messageBody">
        <ul id="messagesList" class="list-group"></ul>
    </div>
    <div class="col-3 border chatRoomRight">
        <ol class="mt-2">
            @foreach (var item in Model.UserList)
            {
                <li class="">@item</li>
            }
        </ol>
    </div>
</div>
<div class="col-12 row">
    <div class="col-9 p-0">
        <input class="col-12 form-control" type="text" name="textMessage" id="textMessage" placeholder="Write Your Message" value="" />
    </div>
    <div class="col-3 p-0">
        <input class="col-12 btn btn-primary" type="button" id="sendMessage" name="sendMessage" value="Send" />
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script>
    $(document).ready(function () {
        //-----ekranda height değişmelerini istediğim gibi ayarlamak için yazdığım script
        jQuery(window).bind("resize", function () {
            var height = $(window).height();
            height = height * 60 / 100;
            $(".chatRoom").height(height);
        });
        var height = $(window).height();
        height = height * 60 / 100;
        $(".chatRoom").height(height);
        //---------------------------------------------

        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        connection.start();
        $("#sendMessage").on("click", function () {
            sendMessages();
        });
        connection.on("ReceiveMessage", function (user, message) {
            $("#textMessage").val("");
            var textcontent = user + ": " + message;
            var list = $("#messagesList");
            var li = document.createElement("li");
            li.textContent = textcontent;
            li.style = "list-style:none";
            list.append(li);
        });


        $('html').keydown(function (e) {
            if (e.which == 13) {
                sendMessages();
            }
        });
        function sendMessages() {
            var message = $("#textMessage").val();
            var user = $(".userName").text();
            connection.invoke("SendMessage", user, message);
        }
        var messageBody = document.querySelector('#messageBody');
        messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
    });
</script>