@page
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <label class="col-3">User</label>
                <input type="text" id="userInput" class="form-control col-6" />
            </div>
            <div class="row">
                <label class="col-3">Message</label>
                <input type="text" id="messageInput" class="form-control col-6" />
                <input type="button" id="sendButton" value="Send Message" class="col-3 btn btn-primary" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul id="messagesList" class="list-group"></ul>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
@*
<script src="~/js/chat.js"></script>*@
<script>
    $(document).ready(function () {
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        connection.start().then(function () {
            document.getElementById("sendButton").disabled = false;
        }).catch(function (err) {
            return console.error(err.toString());
        });
        $("#sendButton").on("click", function () {
            var message = $("#messageInput").val();
            var user = "burak";
            alert(message);
            connection.invoke("SendMessage", user, message).catch(function (err) {
                return console.error(err.toString());
            });
        });
        function ReceiveMessage(user, message) {
            alert(user + " " + message);
        }
    });
</script>